html {
    position: relative;
    min-height: 100%;
    font-size: 1.5rem;
}
body {
    padding-top: 1rem;
    margin-bottom: 4rem;
    background-image: url("/static/img/paper.jpg");
    font-family: 'Fondamento', cursive;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem;
}
.sidebar-nav {
    font-size: 1.5em;
    padding: 0;
    list-style: none;
}
.li-login {
  font-size: 1rem;
}
a:link {
  color: #005C42;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #005C42;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #174639;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #005C42;
  background-color: transparent;
  text-decoration: underline;
}
.author-list, .author-book, .borrowed-list{
  list-style: none;
}
.author-list li {
  margin: 20px;
}
.book-list {
  margin-bottom: 30px;
}
h1 {
  font-size: 2rem;
}
.madeby {
  font-family: 'Krona One', sans-serif;
  font-size: 0.7rem;
}
.lib-db li {
  margin: 15px;
}
